* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mhs_button {
	display: flex;
	justify-content: space-around;
}

.mhs_button button:hover {
	background-color: blueviolet;
}

.myButton {
	background-color: aquamarine;
}
